<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "PrincipalEntrega";
}

<h2 align="center">Entrega dos Produtos</h2>
<table class="table-hover table">

    <tbody>
        <tr class="table-active">
            <th scope="row">
                <font style="vertical-align: herdar;">
                    <font style="vertical-align: herdar;">
                        IdPedido
                    </font>
                </font>
            </th>   
            <td>
                <font style="vertical-align: herdar;">
                    <font style="vertical-align: inherit;">
                        Produto
                    </font>
                </font>
            </td>
            <td>
                <font style="vertical-align: herdar;">
                    <font style="vertical-align: inherit;">
                        Status
                    </font>
                </font>
            </td>
            <td>
                <font style="vertical-align: herdar;">
                    <font style="vertical-align: inherit;">
                        <input type="button" value="Alterar" class="btn btn-danger" >
                    </font>
                </font>
            </td>
        </tr>

    </tbody>
</table>
