
@{
    ViewBag.Title = "Rastreio";
}

<h2 align="center">Rastreio</h2>
<br />
<br />
<br />

<form >
    <div class="form-group" align="center" id="div" name="div">
        <label for="codigo">Digite o Código de Rastreio</label>
        <input type="text" class="form-control" id="IdCod" aria-describedby="codHelp" placeholder="Código de Rastreio">
        <br />
        <br />
        <br />
        <input type="button" ID ="btnRastrear"value="Rastrear" OnClick="btnRastrear_Click" />

        <a href="#" target="_self">Link</a>
    </div>
</form>

